body {
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(img/black_wood.jpg);
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center; 
}

img {
    opacity: 0.8;
    width: 80%;
    height: 200px;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.5);
}

img:hover {
    box-shadow: 0 0 15px 10px rgba(0,225,200,0.5);
    cursor: pointer;
}

img:hover {
    opacity:1;

}

header {
    text-align: center;
    padding: 10px;
    margin: 20px;
    background-image: url(img/wood_background.jpg);
    background-position: top;
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.5);
    border-radius: 120px;
    opacity: 1;
}

#page-title {
    color: rgba(225,225,225,0.7);
    font-size: 60px;
    text-shadow: 5px 5px rgba(0,0,0,0.3);
}

main {
    margin: 20px;
}

#about {
    background-image: url(img/wood_background.jpg);
    opacity: 0.85;
    background-position: center; 
    padding: 20px;
    color: rgba(225,225,225,0.6);
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.5);
}

#about:hover {
    background-image: url(img/wood_background.jpg);
    opacity: 0.95;
    background-position: center; 
    padding: 20px;
    color: rgba(225,225,225,0.7);
    text-shadow: 5px 5px rgba(0,0,0,0.3);

}

#programs {
    text-align: center;
    background-image: url(img/wood_background.jpg);
    opacity: 0.95;
    background-position: center; 
    padding: 20px;
    color: rgba(225,225,225,0.6);
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.5);
    text-shadow: 5px 5px rgba(0,0,0,0.3);
    height: 200px;
    overflow-y: scroll;
}

footer {
    align-content: center;
    padding: 10px;
}

#icon-links {
    text-align: center;
    border: solid 2px white;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    width: 30%;
}

.icon {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: solid 1px rgba(0,0,0,0.5);
    margin: 2px;
}

.icon:hover {
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 15px 10px rgba(0,225,150,0.5);
}

#ga-icon {
    height: 20px;
    width: 60px;
}